* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #303030;
  margin: 0;
  padding: 0;
  color: white;
}

.chat-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #1d1d1d;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.iamai{
  width: 30px;
  height: 30px;
  margin-left: 750px;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  margin-left: 730px;
}

.chat-container {
  background-color: #303030;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.chat-main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 15px;
  display: flex;
}

.message.bot {
  justify-content: flex-start;
}

.message.user {
  justify-content: flex-end;
}

.message-content {
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
  max-width: 70%;
}

.message.bot .message-content {
  background-color: #424242;
  color: white;
}

.message.user .message-content {
  background-color: #575757;
  color: white;
}

.chat-input-container {
  display: flex;
  align-items: center;
  margin-top: 740px;
}

.chat-input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 25px;
  border: 1px solid #555;
  background-color: #424242;
  color: white;
  margin-right: 10px;
}

.send-button {
  background-color: #575757;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #6a6a6a;
}

.chat-header {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.chat-button {
  padding: 15px 20px;
  background-color: #575757;
  border-radius: 20px;
  text-align: center;
  margin: 10px 0;
  color: white;
  font-size: 18px;
}

.chat-button:hover {
  background-color: #6a6a6a;
}

@media (max-width: 768px) {
  .chat-container {
    flex-direction: column;
  }

  .chat-main {
    margin-left: 0;
    padding: 10px;
  }
}
